body {
  width: 220px;
  height: 260px;
  text-align: center;
}

.input-1 {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.input-2 {
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  color: #ffff;
  background-color: #665AC7;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.logo {
  width: 200px;
  height: 200px;
}
.button {
  background-color: #03a9f4;
  color: #e1f5fe;
  margin: 5px;
  padding: 5px;
}
.icon {
  background-color: #03a9f4;
  color: #e1f5fe;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #2962ff;
}
.switch label input[type=checkbox]:checked + .lever {
  background-color: #64b5f6;
}
